select[name="tb_agent_length"],select[name="tb_claimed_length"] {
	border: 1px solid rgb(226, 229, 237);
	padding: 7px 10px;
	border-radius: 5px; 
}

.navKu{
/*    border-right: 1px solid #e2e5ed;
    padding-right: 15px !important;
    margin-left: 15px !important;*/
    height: 100%;
}

.navKu a{
	top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.rataTengah{
	left: 50%;transform: 
	translateX(-50%);
	position: relative;
}

.nav-link{
	font-size: 18px !important;
	color: #003d94 !important;
}